// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #1B2430;
$secondary: #51557E;
$purpleLight: #816797;
$textColor: #D6D5A8;
