// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Common Styles
a{
    text-decoration: none;
}
.inline{
    display: inline;
}
textarea{
    resize: none;
}
ul{
    list-style-type: none;
    margin: 0px;
}
.wrapper{
    margin: 0px 100px;
    box-sizing: border-box;
}
main{
    min-height: calc(100vh - 100px);
}
.comment-controls{
    border: none;
    display: inline-block;
    background: transparent;
    color: $primary;
    font-weight: bold;
    font-size: 12px;
    &:hover{
        transform: translateY(-1.5px);
    }
    transition: transform 0.15s;
    transition-timing-function: ease-in-out;
}
// End of common Styles


// app.layout styles
.footer{
    font-size: 16px;
    background-color: $primary;
    color: $textColor;
    width: 100%;
    height: 50px;
    padding: 10px;
}
.ul-footer{
    display: flex;
    font-weight: 300;
    padding: 0px 10px;
    justify-content: space-between;
}
.navbar-home{
    background-color: $primary;
    display: flex;
    padding: 10px;
    height: 50px;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    .user-profile{
        font-size: 24px;
        color: $textColor;
    }
    a{
        color: $textColor;
        text-decoration: none;
    }
    ul{
        display: flex;
        justify-content: flex-start;
    }
    li{
        margin-right: 10px;
    }
    ul.creds{
        font-size: 22px;
    }
    ul.logo{
        font-size: 30px;
    }
    .dropdown {
        position: relative;
        margin-right: 12px;
        display: inline-block;
    }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: whitesmoke;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      .dropdown-content a {
        padding: 5px 8px;
        font-size: 13px;
        color: $primary;
        font-weight: bold;
        display: block;
        &:hover{
            border-radius: 8px;
            background-color: darken($color: white, $amount: 10%);
        }
      }
      .dropdown:hover .dropdown-content {
        display: block;
        border-radius: 8px;
      }
}
// end of app.layout styles


// home page styles
.home-controls{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.li-posts{
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    background: $secondary;
    border: 1px solid $primary;
    border-radius: 10px;
}
.posts{
    display: flex;
    margin-bottom: 30px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    .post-title{
        font-size: 38px;
        font-weight: bold;
    }
    .info{
        text-align: justify;
        text-justify: inter-word;
        max-width: 39%;
    }
    .user-img{
        max-width: 50px;
        height: 50px;
        border-radius: 20px;
        margin-right: 10px;
    }
    .post-img{
        max-width: 600px;
        width: 100%;
        border-radius: 20px;
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px;
    }
    .post-date, .post-author{
        font-size: 12px;
    }
    .controls{
        display: flex;
        justify-content: flex-start;
        a{
            margin-right: 10px;
        }
        margin-top: 10px;
        align-items: right;
    }
}
// end of home page styles


// start of create post page styles
.form{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .item{
        width: 100%;
    }
    .label{
        font-size: 20px;
        font-weight: bold;
    }
    .input-file{
        width: 210px;
    }
    textarea{
        border-radius: 10px;
        padding: 6px;
    }
    .input-title{
        border-radius: 10px;
        padding: 3px;
    }
    .btn-margin{
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        input{
            margin-right: 10px;
        }
    }
    .choose-image-div{
        width: 100%;
        margin-top: 10px;
        label{
            margin-right: 10px;
        }
    }
}
// end of create post page styles


// Start of the post show page styles
.flex-div{
    display: flex;
    flex-direction: column;
}
.image-div{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    .img{
        height: 75%;
        width: 100%;
        border-radius: 20px;
        border: 1px solid;
        box-shadow: 5px 5px;
    }
}

.body-div{
    border-bottom: 1px solid $primary;
    margin-bottom: 20px;
    .header-div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 40px;
        .author-img{
            width: 50px;
            height: 50px;
            border-radius: 20px;
            margin-right: 10px;
        }
        h6{
            font-size: 12px;
            margin-bottom: 20px;
            display: inline;
        }
    }
    .controls{
        display: flex;
        justify-content: right;
        align-items: right;
    }
    p{
        font-size: 18px;
        text-align: justify;
        text-justify: inter-word;
    }
}

.comment-div{
    margin-bottom: 20px;
    form{
        display: inline;
        textarea{
            width: 100%;
            border-radius: 10px;
            padding: 6px;
            resize: none;
        }
    }

    .comment-btn{
        margin-bottom: 10px;
    }

    .commentors{
        margin-top: 15px;
        background: #e5e5e5;
        border-radius: 10px;
        padding: 10px;
        h5, h6{ 
            display: inline;
        }
        p{
            margin: 0px;
            margin-bottom: 6px;
            word-wrap: break-word;
        }
    }
    .reply{
        height: 25px;
        border-radius: 6px;
        font-size: 12px;
        margin-left: 10px;
        padding: 5px;
        width: 20%;
    }
    .replies{
        margin-top: 15px;
        margin-left: 50px;
        background: #e5e5e5;
        border-radius: 10px;
        padding: 10px;
        h5, h6{ 
            display: inline;
        }
        p{
            margin: 0px;
        }
    }
    .reply-reply{
        margin-left: 100px;
    }
}
.commentator-img{
    display: inline-block;
    max-width: 40px;
    height: 35px;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}
// End of the show page styles


// Start of the user page styles
.user-header{
    border-bottom: 1px solid $primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .user-img{
        width: 100px;
        height: 100px;
        border-radius: 20px;
    }
    .user-img-div{
        padding-bottom: 10px;
    }
    .user-img-change{
        max-width: 32px;
        min-width: 32px;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
      .dropdown-content {
        display: none;
        position: absolute;
        left: 32px;
        bottom: 35px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      .dropdown-content a {
        font-weight: bold;
        display: block;
        &:hover{
            border-radius: 8px;
        }
      }
      .dropdown:hover .dropdown-content {
        display: block;
        border-radius: 8px;
    }
    .user-name{
        font-weight: bold;
        font-size: 28px;
    }
    .user-nav{
        margin-bottom: 10px;
    }
    .hidden-img-input{
        display: none;
    }
}

.commentors{
    margin-top: 15px;
    background: #e5e5e5;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    h5, h6{ 
        display: inline;
    }
    p{
        margin: 0px;
        margin-bottom: 6px;
        word-wrap: break-word;
    }
}

.info-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
// End of the user page styles


// Start of User-Info-Change Styles
.form-info{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 24px;
    .inputs{
        display: flex;
        flex-direction: column;
        gap: 2px;
        width: 50%;
    }
    .btn-div{
        display: flex;
        width: 50%;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}
// End of User-Info-Change Styles


//  Responsive Design
@media only screen and (max-width: 1101px){
    .wrapper{
        margin: 30px;
    }
    .posts{
        flex-direction: column-reverse;
        .post-date, .post-author{
            font-size: 10px;
        }
        .info{
            max-width: 100%;
        }
        .post-title{
            font-size: 28px;
            font-weight: bold;
        }
        .user-img{
            max-width: 32px;
            height: 32px;
            border-radius: 20px;
            margin-right: 10px;
        }
    }
    .ul-footer{
        li{
            font-size: 14px;
        }
    }
    .posts > div{
        flex: 1;
    }

}

    @media only screen and (max-width: 923px){
        .user-header{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
}

    @media only screen and (max-width: 504px){
        .ul-footer{
            li{
                font-size: 12px;
            }
        }
}
        @media only screen and (max-width: 440px){
        .ul-footer{
            li{
                font-size: 8px;
            }
        }
}

// Tiny MCE 
/* make the toolbar wrap */
.mceToolbar td {
    display:table-row;
    float: left;
}
.mceToolbar td:nth-of-type(11){
    clear: left;
}